[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
githooks = "*"

[packages]
source = "*"
pymongo = "*"
mongoengine = "*"
tqdm = "*"
colorama = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
